<li>
  <!-- Need to parse date using relevant Date class methods for using GMT timezone-->
  <span> "Temperature is  <%= notification&.action&.titleize %>  as of <%= notification&.created_at %></span>
</li>