<ul class="notificator">
  <a href="#" id="open_notification">
    <%= render 'counter', counter: @notifications.count %>
  </a>
  <div id="notificationContainer">
    <div id="notificationTitle">Notifications</div>
    <div id="notificationsBody" class="notifications">
      <ul id="notificationList">
        <!-- There is a rails way of doing this, unable to recall at this moment -->
        <% @notifications.each do |notification| %>
          <%= render partial: "notification", locals: {notification: notification} %>
        <% end %>
      </ul>
    </div>
    <div id="notificationFooter"></div>
  </div>
</ul>