<%= form_with(model: user, local: true) do |form| %>

  <div class="field">
    <%= form.label :min_temperature %>
    <%= form.number_field :min_temperature %>
  </div>

  <div class="field">
    <%= form.label :max_temperature %>
    <%= form.number_field :max_temperature %>
  </div>

  <div class="field">
    <%= form.label :unit_of_temperature %>
    <%= form.text_field :unit_of_temperature %>
  </div>

  <div class="field">
    <%= form.label :enabled %>
    <%= form.check_box :enabled %>
  </div>

  <div class="field">
    <%= form.label :city_name %>
    <%= form.text_field :city_name %>
  </div>

  <div class="field">
    <%= form.label :country_name %>
    <%= form.text_field :country_name %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
