<%= form_with(model: temperature_criterium, local: true) do |form| %>
  <% if temperature_criterium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(temperature_criterium.errors.count, "error") %> prohibited this temperature_criterium from being saved:</h2>

      <ul>
      <% temperature_criterium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :min_temperature %>
    <%= form.text_field :min_temperature %>
  </div>

  <div class="field">
    <%= form.label :max_temperature %>
    <%= form.text_field :max_temperature %>
  </div>

  <div class="field">
    <%= form.label :unit_of_temperature %>
    <%= form.text_field :unit_of_temperature %>
  </div>

  <div class="field">
    <%= form.label :enabled %>
    <%= form.check_box :enabled %>
  </div>

  <div class="field">
    <%= form.label :city_name %>
    <%= form.text_field :city_name %>
  </div>

  <div class="field">
    <%= form.label :country_name %>
    <%= form.text_field :country_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
