<h1>Editing Temperature Criterium</h1>

<%= render 'form', temperature_criterium: @temperature_criterium %>

<%= link_to 'Show', @temperature_criterium %> |
<%= link_to 'Back', temperature_criteria_path %>
