<p id="notice"><%= notice %></p>

<h1>Temperature Criteria</h1>

<table>
  <thead>
    <tr>
      <th>Min temperature</th>
      <th>Max temperature</th>
      <th>Unit of temperature</th>
      <th>Enabled</th>
      <th>City name</th>
      <th>Country name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @temperature_criteria.present? %>
      <% @temperature_criteria.each do |temperature_criterium| %>
        <tr>
          <td><%= temperature_criterium.min_temperature %></td>
          <td><%= temperature_criterium.max_temperature %></td>
          <td><%= temperature_criterium.unit_of_temperature %></td>
          <td><%= temperature_criterium.enabled %></td>
          <td><%= temperature_criterium.city_name %></td>
          <td><%= temperature_criterium.country_name %></td>
          <td><%= link_to 'Show', temperature_criterium %></td>
          <td><%= link_to 'Edit', edit_temperature_criterium_path(temperature_criterium) %></td>
          <td><%= link_to 'Destroy', temperature_criterium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
<% if @temperature_criteria.blank? %>
  <%= link_to 'New Temperature Criterium', new_temperature_criterium_path %>
<% end %>