<p id="notice"><%= notice %></p>

<p>
  <strong>Min temperature:</strong>
  <%= @temperature_criterium.min_temperature %>
</p>

<p>
  <strong>Max temperature:</strong>
  <%= @temperature_criterium.max_temperature %>
</p>

<p>
  <strong>Unit of temperature:</strong>
  <%= @temperature_criterium.unit_of_temperature %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @temperature_criterium.enabled %>
</p>

<p>
  <strong>City name:</strong>
  <%= @temperature_criterium.city_name %>
</p>

<p>
  <strong>Country name:</strong>
  <%= @temperature_criterium.country_name %>
</p>

<%= link_to 'Edit', edit_temperature_criterium_path(@temperature_criterium) %> |
<%= link_to 'Back', temperature_criteria_path %>
