<ul class="nav navbar-nav navbar-left">
  <li><%= link_to 'Temperatures', temperature_criteria_path %></li>
  <li><%= link_to 'Enable Notification', change_state_users_path(status: :start) %></li>
  <li><%= link_to 'Disable Notification', change_state_users_path(status: :stop) %></li>
  <li id="notifications"> </li>
</ul>
<ul class="nav navbar-nav navbar-right">   
    <% if user_signed_in? %>   
    <li><%= link_to current_user.email, edit_user_registration_path %></li>   
    <li><%= link_to "Log Out" , destroy_user_session_path, method: :delete %></li>   
    <% else %>   
    <li><%= link_to "Sign In", user_session_path %></li>   
    <li><%= link_to "Register", new_user_registration_path %></li>   
    <% end %>   
 </ul> 